.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.j-c-b {
    justify-content: space-between;
}

.j-c-c {
    justify-content: center;
}

.j-c-s-a {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

