* {
    box-sizing: border-box;
}

.parent_sq {
    width: 800px;
    height: 800px;
    background-color: red;
    border: 2px solid black;
    padding: 10px;

}

.child_pink {
    width: 250px;
    height: 250px;
    background-color: deeppink;
    border: 1px solid black;
}

.child_green {
    width: 75px;
    height: 75px;
    background-color: chartreuse;
    border: 1px solid black;
}

.child_blue {
    width: 150px;
    height: 150px;
    background-color: darkblue;
    border: 1px solid black;

}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.j-c-b {
    justify-content: space-between;
}

.j-c-c {
    justify-content: center;
}

.align-items {
    align-items: center;
}



