.parent_sq3 {
    width: 800px;
    height: 800px;
    background-color: red;
    border: 2px solid black;
    padding: 10px;

}

.child_div {
    width: 100%;
    height: 110px;
}

.header {
    flex-basis: 50px;
    width: 100%;
    background-color: blue;
    border: 1px solid black;
}

.child_div2 {
    width: 100%;
    height: 690px;
    column-gap: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: fuchsia;
    border: 1px solid black;
    overflow-x: auto;
}

.child_div2 > div {
    width: 250px;
    height: 100%;
    flex-shrink: 0;
    background-color: limegreen;
    border: 1px solid black;
    padding: 10px;
    row-gap: 10px;
    overflow-y: auto;

}

.child_div2 > div:nth-child(even) {
    height: 60%;
}

.block-red {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background-color: red;
    border: 1px solid black;

}