.parent_sq2 {
    width: 800px;
    height: 800px;
    background-color: red;
    border: 2px solid black;
    padding: 10px;

}

.child_1 {
    width: 780px;
    height: 250px;
    background-color: brown;
    border: 1px solid black;
    overflow-x: auto;
    column-gap: 10px;
    padding: 10px;
}

.child_2 {
    width: 200px;
    height: 500px;
    background-color: brown;
    border: 1px solid black;
    flex-shrink: 0;
    overflow-y: auto;
    row-gap: 10px;
    padding: 10px;

}

.child_3 {
    background-color: blue;
    border: 1px solid black;
    flex-basis: 100%;
    flex-grow: 1;
    margin-left: 10px;

}

.x-block {
    flex-basis: 200px;
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
    flex-shrink: 0;

}

.y-block {
    width: 150px;
    flex-basis: 100px;
    background-color: yellow;
    border: 1px solid black;
    flex-shrink: 0;
}
